<div class="min-h-screen bg-gray-50 p-6">
    <div class="max-w-7xl mx-auto">
        <h1 class="text-3xl font-bold text-gray-800 mb-6">
            Product Catalog
        </h1>

        <div *ngIf="productsService.loading()" class="w-full flex items-center justify-center">
            <p class="text-2xl text-gray-800 font-black">...Loading</p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
            <div *ngFor="let product of productsService.products()"
                class="bg-white rounded-2xl shadow-sm hover:shadow-xl transition overflow-hidden group">
                <div class="h-60 bg-gray-100 flex items-center justify-center overflow-hidden">
                    <img [src]="product.image" [alt]="product.title"
                        class="h-full object-contain group-hover:scale-110 transition duration-300" />
                </div>
                <div class="p-4 flex flex-col h-full">
                    <span class="text-xs uppercase tracking-wide text-indigo-500 font-semibold mb-1">
                        {{ product.category }}
                    </span>


                    <h2 class="text-sm font-semibold text-gray-800 line-clamp-2 mb-2">
                        {{ product.title }}
                    </h2>


                    <!-- <div class="flex items-center gap-2 mb-3">
<span class="text-yellow-500 text-sm">★ {{ product.rating.rate }}</span>
<span class="text-xs text-gray-400">({{ product.rating.count }})</span>
</div> -->

                    <p class="text-sm text-gray-500 line-clamp-3 mb-4">
                        {{ product.description }}
                    </p>
                    <div class="mt-auto flex items-center justify-between">
                        <span class="text-lg font-bold text-gray-900">
                            ${{ product.price }}
                        </span>
                        <button
                            class="px-4 py-2 rounded-xl bg-indigo-600 text-white text-sm font-semibold hover:bg-indigo-700 transition">
                            View
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>